.fond-sombre-modale {
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
    background-color: #fff;

    &-ouverte {
        transform: translate(-50%, -50%) scale(1);
    }

    .modal-content {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            margin: 20px 0;
        }

        .wpcf7 {
            width: 266px;
            display: flex;
            justify-content: center;

                &-form {
                    margin-top: 20px;

                    &-control {
                        width: 266px;
                        height: 40px;
                        border: solid 1px #b8bbc2;
                        border-radius: 8px;
                    }
                }

            .message-modal {
                height: 210px;

                .wpcf7-form-control-wrap {
                    height: 210px;
                }

                .wpcf7-form-control {
                    height: 210px;
                    resize: none;
                }
            }

            &-submit {
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
                height: 50px;
                width: 272px;
                border: solid 1px #d8d8d8;
                background-color: #d8d8d8;
                border-radius: 0;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background-color: #000;
                }
            }
        }
    }
}