@font-face {
    font-family: 'Space_Mono';
    src: url('../google_fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../google_fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Space_Mono', sans-serif;

    #header {
        width: 100%;
        height: 80px;
        border-bottom: solid 2px #fff;
        box-shadow: 0 12px 12px -12px rgba(0, 0, 0, 0.1);

        .content-header {
            display: flex;
            justify-content: space-between;
            max-width: 80%;
            margin: auto;
            padding-top: 30px;
        }


        #menu-top-barre-header {
            display: flex;
            list-style: none;

            #menu-item-14,
            #menu-item-18 {
                margin-left: 60px;
            }

            @media (max-width: "425px") {
                display: none;
            }
        }

        @media (max-width: "425px") {
            img {
                width: 138px;
                height: 10px;
            }
        }
    }
}

#footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-top: solid 1px;

    #menu-footer {
        display: flex;
        padding: 20px 0;

        #menu-item-27,
        #menu-item-26 {
            margin-left: 60px;
        }

        @media (max-width: "425px") {
            flex-direction: column;
            align-items: center;
            padding: 40px 0 0 0;
            gap: 30px;

            #menu-item-27,
            #menu-item-26 {
                margin-left: 0;
            }
        }
    }
}

#header a,
#footer a {
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

#menu-top-barre-header,
#menu-footer {
    list-style: none;
    margin: 0;
    padding: 0;
}