#single-photo {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    padding-top: 30px;

    .description-photo-single-photo {
        display: flex;
        justify-content: space-between;

        .description-single-photo {
            position: relative;
            top: -16px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-transform: uppercase;
            width: 48%;
            border-bottom: solid 1px;
    
            h2 {
                font-style: italic;
                font-weight: 500;
                font-size: 80px;
                margin: 0;
                padding: 0;
            }

            .text-description-single-photo {
                font-size: 24px;
            }
        }

        .photo-single-photo {
            width: 50%;
            margin-right: 0;

            img {
                width: 100%;
            }
        }
    }

    .preview-contact-single-photo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 118px;
        font-size: 14px;
        border-bottom: solid 1px;
        padding-bottom: 14px;

        .contact-single-photo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 48%;

            p {
                font-size: 20px;
            }
            
            button {
                width: 280px;
                height: 60px;
                font-size: 18px;
                border: solid 0px;
                background-color: #d8d8d8;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background-color: #000;
                }
            }
        }

        .preview-single-photo {
            .navigation-preview-single-photo {
                a {
                    text-decoration: none;
                }
            }
        }
    }

    h3 {
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 500;
        padding-top: 70px;
    }

    .photos-apparentes {
        padding-bottom: 80px;

        .related-photos {
            &-item {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                a {
                    width: calc(50% - 20px);
                    box-sizing: border-box;
                    margin-top: 40px;
                }
            
                img {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                }
            }
        }
    }

    @media (max-width:"425px") {
        max-width: 100%;

        .description-photo-single-photo {
            max-width: 100%;
            margin: auto;
            flex-direction: column-reverse;
    
            .description-single-photo {
                top: 0;
                width: 100%;

                h2 {
                    width: 80%;
                    margin: auto;
                }

                .text-description-single-photo{
                    margin-bottom: 40px;
                    p {
                        width: 80%;
                        margin: 10px auto;
                    }
                }
            }
        
            .photo-single-photo {
                width: 80%;
                margin: auto
            }
        }
    
        .preview-contact-single-photo {
            justify-content: center;

            .contact-single-photo {
                flex-direction: column;
                padding: 20px 0;
                height: 80px;

                p {
                    text-align: center;
                    font-size: 15px;
                    margin: auto;
                }
        
                button {
                    width: 80%;
                    margin: auto;
                    position: relative;
                    top: 14px;
                }
            }

            .preview-single-photo {
                display: none;
            }
        }
    }
}