#single-photo {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    padding-top: 30px;

    .description-photo-single-photo {
        display: flex;
        justify-content: space-between;

        .description-single-photo {
            position: relative;
            top: -16px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-transform: uppercase;
            width: 48%;
            border-bottom: solid 1px;
    
            h2 {
                font-style: italic;
                font-weight: 500;
                font-size: 48px;
                margin: 0;
                padding: 0;
                max-width: 44%;
                line-height: 100%;
            }

            .text-description-single-photo {
                font-size: 16px;
                padding-bottom: 30px;
            }
        }

        .photo-single-photo {
            width: 50%;
            margin-right: 0;

            img {
                width: 100%;
            }
        }
    }

    .preview-contact-single-photo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 118px;
        font-size: 14px;
        border-bottom: solid 1px;
        padding-bottom: 14px;

        .contact-single-photo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 48%;

            p {
                font-size: 18px;
            }
            
            button {
                font-family: 'Space_Mono', sans-serif;
                width: 40%;
                height: 60px;
                font-size: 18px;
                border: solid 0px;
                background-color: #d8d8d8;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background-color: #000;
                }
            }
        }

        .preview-single-photo {
            .navigation-preview-single-photo {
                display: flex;
                flex-direction: column;

                .prev-preview {
                    .prev-thumbnail {
                        img {
                            width: 100px;
                            height: auto;
                            aspect-ratio: 1 / 1;
                            object-fit: cover;
                        }
                    }
                }

                .prev-and-next-post {
                    display: flex;
                
                    .prev-post,
                    .next-post {
                        position: relative;
                    }
                
                    .prev-post {
                        margin-right: auto;
                    }
                
                    .next-post {
                        margin-left: auto;
                    }
                
                    .fa-arrow-left-long,
                    .fa-arrow-right-long {
                        font-size: 18px;
                        color: #000;

                        &:hover {
                            transform: scale(1.5);
                        }
                    }
                
                    &:only-child {
                        justify-content: flex-start;
                
                        .prev-post {
                            margin-right: 0;
                        }
                
                        .next-post {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    h3 {
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 500;
        padding-top: 70px;
    }

    .photos-apparentes {
        padding-bottom: 80px;

        .photos-home-header {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            z-index: -1;
    
            a {
                position: relative;
                width: calc(50% - 20px);
                box-sizing: border-box;
                margin-top: 40px;
                text-decoration: none;
                
                .fa-expand,
                .fa-eye,
                .ref-cat-hover-single-photo {
                    display: none;
                }
                
                img {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                }
                
                &:hover {
                    .fa-expand,
                    .fa-eye,
                    .ref-cat-hover-single-photo {
                        display: block;
                    }
                
                    .fa-expand {
                        font-size: 24px;
                        color: #fff;
                        position: absolute;
                        top: 4%;
                        right: 4%;
                        z-index: 1;
                        border: solid #000 1px;
                        border-radius: 50%;
                        background-color: #000;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                
                    .fa-eye {
                        font-size: 40px;
                        color: #fff;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 1;
                    }
                
                    .ref-cat-hover-single-photo {
                        display: flex;
                        justify-content: space-between;
                        width: 96%;
                        position: absolute;
                        bottom: 2%;
                        left: 2%;
                        color: #fff;
                        z-index: 1;
                        font-family: 'Poppins';
                        text-transform: uppercase;
                    }
                }
            }
                
            @media (max-width: 768px) {
                a {
                        width: 100%;
                        margin-top: 24px;
                }
            }
        }
    }

    @media (max-width:"425px") {
        max-width: 100%;

        .description-photo-single-photo {
            max-width: 100%;
            margin: auto;
            flex-direction: column-reverse;

            .description-single-photo {
                top: 0;
                width: 100%;

                h2 {
                    max-width: 80%;
                    margin: auto;
                }

                .text-description-single-photo{
                    p {
                        width: 80%;
                        margin: 10px auto;
                    }
                }
            }
        
            .photo-single-photo {
                width: 80%;
                margin: auto
            }
        }
    
        .preview-contact-single-photo {
            justify-content: center;
            padding-bottom: 20px;

            .contact-single-photo {
                flex-direction: column;
                height: 80px;
                width: 80%;

                p {
                    text-align: center;
                    font-size: 15px;
                    margin: auto;
                }
        
                button {
                    width: 100%;
                    margin: auto;
                    position: relative;
                    top: 14px;
                }
            }

            .preview-single-photo {
                display: none;
            }
        }

        h3 {
            padding-top: 20px;
            margin: auto;
        }

        .photos-apparentes {
            padding: 0;
    
            .photos-home-header {
                a {
                    width: 80%;
                    margin: auto;
                    margin-top: 20px;
                }
                
                img {
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                }
            }
        }
    }
}