#single-photo {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  padding-top: 30px;
}
#single-photo .description-photo-single-photo {
  display: flex;
  justify-content: space-between;
}
#single-photo .description-photo-single-photo .description-single-photo {
  position: relative;
  top: -16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-transform: uppercase;
  width: 48%;
  border-bottom: solid 1px;
}
#single-photo .description-photo-single-photo .description-single-photo h2 {
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  margin: 0;
  padding: 0;
  max-width: 44%;
  line-height: 100%;
}
#single-photo .description-photo-single-photo .description-single-photo .text-description-single-photo {
  font-size: 16px;
  padding-bottom: 30px;
}
#single-photo .description-photo-single-photo .photo-single-photo {
  width: 50%;
  margin-right: 0;
}
#single-photo .description-photo-single-photo .photo-single-photo img {
  width: 100%;
}
#single-photo .preview-contact-single-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 118px;
  font-size: 14px;
  border-bottom: solid 1px;
  padding-bottom: 14px;
}
#single-photo .preview-contact-single-photo .contact-single-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48%;
}
#single-photo .preview-contact-single-photo .contact-single-photo p {
  font-size: 18px;
}
#single-photo .preview-contact-single-photo .contact-single-photo button {
  font-family: "Space_Mono", sans-serif;
  width: 40%;
  height: 60px;
  font-size: 18px;
  border: solid 0px;
  background-color: #d8d8d8;
  cursor: pointer;
}
#single-photo .preview-contact-single-photo .contact-single-photo button:hover {
  color: #fff;
  background-color: #000;
}
#single-photo .preview-contact-single-photo .preview-single-photo .navigation-preview-single-photo {
  display: flex;
  flex-direction: column;
}
#single-photo .preview-contact-single-photo .preview-single-photo .navigation-preview-single-photo .prev-preview .prev-thumbnail img {
  width: 100px;
  height: auto;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
#single-photo .preview-contact-single-photo .preview-single-photo .navigation-preview-single-photo .prev-and-next-post {
  display: flex;
}
#single-photo .preview-contact-single-photo .preview-single-photo .navigation-preview-single-photo .prev-and-next-post .prev-post,
#single-photo .preview-contact-single-photo .preview-single-photo .navigation-preview-single-photo .prev-and-next-post .next-post {
  position: relative;
}
#single-photo .preview-contact-single-photo .preview-single-photo .navigation-preview-single-photo .prev-and-next-post .prev-post {
  margin-right: auto;
}
#single-photo .preview-contact-single-photo .preview-single-photo .navigation-preview-single-photo .prev-and-next-post .next-post {
  margin-left: auto;
}
#single-photo .preview-contact-single-photo .preview-single-photo .navigation-preview-single-photo .prev-and-next-post .fa-arrow-left-long,
#single-photo .preview-contact-single-photo .preview-single-photo .navigation-preview-single-photo .prev-and-next-post .fa-arrow-right-long {
  font-size: 18px;
  color: #000;
}
#single-photo .preview-contact-single-photo .preview-single-photo .navigation-preview-single-photo .prev-and-next-post .fa-arrow-left-long:hover,
#single-photo .preview-contact-single-photo .preview-single-photo .navigation-preview-single-photo .prev-and-next-post .fa-arrow-right-long:hover {
  transform: scale(1.5);
}
#single-photo .preview-contact-single-photo .preview-single-photo .navigation-preview-single-photo .prev-and-next-post:only-child {
  justify-content: flex-start;
}
#single-photo .preview-contact-single-photo .preview-single-photo .navigation-preview-single-photo .prev-and-next-post:only-child .prev-post {
  margin-right: 0;
}
#single-photo .preview-contact-single-photo .preview-single-photo .navigation-preview-single-photo .prev-and-next-post:only-child .next-post {
  margin-left: 0;
}
#single-photo h3 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 70px;
}
#single-photo .photos-apparentes {
  padding-bottom: 80px;
}
#single-photo .photos-apparentes .photos-home-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: -1;
}
#single-photo .photos-apparentes .photos-home-header a {
  position: relative;
  width: calc(50% - 20px);
  box-sizing: border-box;
  margin-top: 40px;
  text-decoration: none;
}
#single-photo .photos-apparentes .photos-home-header a .fa-expand,
#single-photo .photos-apparentes .photos-home-header a .fa-eye,
#single-photo .photos-apparentes .photos-home-header a .titre-cat-hover-single-photo {
  display: none;
}
#single-photo .photos-apparentes .photos-home-header a .fa-expand .ref-hover-single-photo,
#single-photo .photos-apparentes .photos-home-header a .fa-eye .ref-hover-single-photo,
#single-photo .photos-apparentes .photos-home-header a .titre-cat-hover-single-photo .ref-hover-single-photo {
  display: none;
}
#single-photo .photos-apparentes .photos-home-header a img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
#single-photo .photos-apparentes .photos-home-header a:hover .fa-expand {
  display: block;
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 4%;
  right: 4%;
  z-index: 1;
  border: solid #000 1px;
  border-radius: 50%;
  background-color: #000;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#single-photo .photos-apparentes .photos-home-header a:hover .fa-eye {
  display: block;
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#single-photo .photos-apparentes .photos-home-header a:hover .titre-cat-hover-single-photo {
  display: flex;
  justify-content: space-between;
  width: 96%;
  position: absolute;
  bottom: 2%;
  left: 2%;
  color: #fff;
  z-index: 1;
  font-family: "Poppins";
  text-transform: uppercase;
}
#single-photo .photos-apparentes .photos-home-header a:hover .titre-cat-hover-single-photo {
  display: none;
}
#single-photo .photos-apparentes .photos-home-header a:hover .fa-eye:hover + .titre-cat-hover-single-photo {
  display: flex;
}
@media (max-width: 768px) {
  #single-photo .photos-apparentes .photos-home-header a {
    width: 100%;
    margin-top: 24px;
  }
}
@media (max-width: 425px) {
  #single-photo {
    max-width: 100%;
  }
  #single-photo .description-photo-single-photo {
    max-width: 100%;
    margin: auto;
    flex-direction: column-reverse;
  }
  #single-photo .description-photo-single-photo .description-single-photo {
    top: 0;
    width: 100%;
  }
  #single-photo .description-photo-single-photo .description-single-photo h2 {
    max-width: 80%;
    margin: auto;
  }
  #single-photo .description-photo-single-photo .description-single-photo .text-description-single-photo p {
    width: 80%;
    margin: 10px auto;
  }
  #single-photo .description-photo-single-photo .photo-single-photo {
    width: 80%;
    margin: auto;
  }
  #single-photo .preview-contact-single-photo {
    justify-content: center;
    padding-bottom: 20px;
  }
  #single-photo .preview-contact-single-photo .contact-single-photo {
    flex-direction: column;
    height: 80px;
    width: 80%;
  }
  #single-photo .preview-contact-single-photo .contact-single-photo p {
    text-align: center;
    font-size: 15px;
    margin: auto;
  }
  #single-photo .preview-contact-single-photo .contact-single-photo button {
    width: 100%;
    margin: auto;
    position: relative;
    top: 14px;
  }
  #single-photo .preview-contact-single-photo .preview-single-photo {
    display: none;
  }
  #single-photo h3 {
    padding-top: 20px;
    margin: auto;
  }
  #single-photo .photos-apparentes {
    padding: 0;
  }
  #single-photo .photos-apparentes .photos-home-header a {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }
  #single-photo .photos-apparentes .photos-home-header img {
    width: 100%;
    aspect-ratio: 1/1;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=style-single-photo.css.map */