.article-content-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-content-home .photo-event-header {
  width: 100%;
}
.article-content-home .photo-event-header img {
  width: 100%;
}
.article-content-home .filtres-articles-content-home {
  max-width: 80%;
}
.article-content-home .filtres-articles-content-home .filtres {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.article-content-home .filtres-articles-content-home .filtres #filtre-categories,
.article-content-home .filtres-articles-content-home .filtres #filtre-formats,
.article-content-home .filtres-articles-content-home .filtres #filtre-dates {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  width: 260px;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px #d8d8d8;
  cursor: pointer;
}
@media (max-width: 768px) {
  .article-content-home .filtres-articles-content-home .filtres {
    margin-top: 24px;
    flex-direction: column;
    gap: 6px;
  }
  .article-content-home .filtres-articles-content-home .filtres div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }
}
.article-content-home .filtres-articles-content-home .photos-home-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: -1;
}
.article-content-home .filtres-articles-content-home .photos-home-header a {
  position: relative;
  width: calc(50% - 20px);
  box-sizing: border-box;
  margin-top: 40px;
  text-decoration: none;
}
.article-content-home .filtres-articles-content-home .photos-home-header a .fa-expand,
.article-content-home .filtres-articles-content-home .photos-home-header a .fa-eye,
.article-content-home .filtres-articles-content-home .photos-home-header a .ref-cat-hover-single-photo {
  display: none;
}
.article-content-home .filtres-articles-content-home .photos-home-header a img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-content-home .filtres-articles-content-home .photos-home-header a:hover .fa-expand,
.article-content-home .filtres-articles-content-home .photos-home-header a:hover .fa-eye,
.article-content-home .filtres-articles-content-home .photos-home-header a:hover .ref-cat-hover-single-photo {
  display: block;
}
.article-content-home .filtres-articles-content-home .photos-home-header a:hover .fa-expand {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 4%;
  right: 4%;
  z-index: 1;
  border: solid #000 1px;
  border-radius: 50%;
  background-color: #000;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-content-home .filtres-articles-content-home .photos-home-header a:hover .fa-eye {
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.article-content-home .filtres-articles-content-home .photos-home-header a:hover .ref-cat-hover-single-photo {
  display: flex;
  justify-content: space-between;
  width: 96%;
  position: absolute;
  bottom: 2%;
  left: 2%;
  color: #fff;
  z-index: 1;
  font-family: "Poppins";
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .article-content-home .filtres-articles-content-home .photos-home-header a {
    width: 100%;
    margin-top: 24px;
  }
}
@media (max-width: 768px) {
  .article-content-home {
    margin-bottom: 40px;
  }
}
.article-content-home #charger-plus-content-home {
  font-family: "Space_Mono", sans-serif;
  width: 270px;
  height: 50px;
  border: solid 1px #d8d8d8;
  border-radius: 5px;
  background-color: #d8d8d8;
  margin: 60px 0;
  cursor: pointer;
}
.article-content-home #charger-plus-content-home:hover {
  color: #fff;
  background-color: #000;
}
@media (max-width: 768px) {
  .article-content-home #charger-plus-content-home {
    margin: 60px 0 30px 0;
  }
}/*# sourceMappingURL=style-content-home.css.map */