#single-photo {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    padding-top: 30px;

    .description-photo-single-photo {
        display: flex;
        justify-content: space-between;

        .description-single-photo {
            position: relative;
            top: -16px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-transform: uppercase;
            width: 48%;
            border-bottom: solid 1px;
    
            h2 {
                font-style: italic;
                font-weight: 500;
                font-size: 48px;
                margin: 0;
                padding: 0;
                max-width: 44%;
                line-height: 100%;
            }

            .text-description-single-photo {
                font-size: 16px;
                padding-bottom: 30px;
            }
        }

        .photo-single-photo {
            width: 50%;
            margin-right: 0;

            img {
                width: 100%;
            }
        }
    }

    .preview-contact-single-photo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 118px;
        font-size: 14px;
        border-bottom: solid 1px;
        padding-bottom: 14px;

        .contact-single-photo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 48%;

            p {
                font-size: 18px;
            }
            
            button {
                font-family: 'Space_Mono', sans-serif;
                width: 40%;
                height: 60px;
                font-size: 18px;
                border: solid 0px;
                background-color: #d8d8d8;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background-color: #000;
                }
            }
        }

        .preview-single-photo {
            .navigation-preview-single-photo {
                display: flex;
                flex-direction: column;

                .prev-preview {
                    .prev-thumbnail {
                        img {
                            width: 100px;
                            height: auto;
                            aspect-ratio: 1 / 1;
                            object-fit: cover;
                        }
                    }
                }

                .prev-and-next-post {
                    display: flex;
                    justify-content: space-between;
                
                    .prev-post,
                    .next-post {
                        position: relative;
                
                        .fa-arrow-left-long,
                        .fa-arrow-right-long {
                            font-size: 18px;
                            color: #000;
                            transition: all 0.3s ease;
                        }
                
                        &::before {
                            content: '';
                            position: absolute;
                            top: 36%;
                            left: 6%;
                            width: 0;
                            height: 3px;
                            background-color: #000;
                            transition: all 0.3s ease;
                        }
                
                        &:hover {
                            i {
                                transform: scale(1.2);
                            }
                
                            &::before {
                                width: calc(100% + 20px);
                            }
                        }
                    }

                    .next-post::before {
                        left: auto;
                        right: 6%;
                    }
                }
                
            }
        }
    }

    h3 {
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 500;
        padding-top: 70px;
    }

    .photos-apparentes {
        padding-bottom: 80px;

        .related-photos {
            &-item {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                a {
                    width: calc(50% - 10px);
                    box-sizing: border-box;
                    margin-top: 40px;
                }
            
                img {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                }
            }
        }
    }

    @media (max-width:"425px") {
        max-width: 100%;

        .description-photo-single-photo {
            max-width: 100%;
            margin: auto;
            flex-direction: column-reverse;

            .description-single-photo {
                top: 0;
                width: 100%;

                h2 {
                    max-width: 80%;
                    margin: auto;
                }

                .text-description-single-photo{
                    p {
                        width: 80%;
                        margin: 10px auto;
                    }
                }
            }
        
            .photo-single-photo {
                width: 80%;
                margin: auto
            }
        }
    
        .preview-contact-single-photo {
            justify-content: center;
            padding-bottom: 20px;

            .contact-single-photo {
                flex-direction: column;
                height: 80px;
                width: 80%;

                p {
                    text-align: center;
                    font-size: 15px;
                    margin: auto;
                }
        
                button {
                    width: 100%;
                    margin: auto;
                    position: relative;
                    top: 14px;
                }
            }

            .preview-single-photo {
                display: none;
            }
        }

        h3 {
            padding-top: 20px;
            margin: auto;
        }

        .photos-apparentes {
            padding: 0;
    
            .related-photos {
                &-item {
                    flex-direction: column;
                    align-items: center;
    
                    a {
                        width: 90%;
                        margin-top: 20px;
                    }
                
                    img {
                        width: 100%;
                        aspect-ratio: 1 / 1;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}